/*---------Estilos generales-----------*/ 
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	display: block;
}

.header{
	height: 150px;
	background: #F7E9C5;
	color: black;
	display: flex;
	justify-content: space-between;
	padding-right: 70px;
	font-family: 'Quicksand', sans-serif;
}

header label{
	font-size: 25px;
	cursor: pointer;
	display: none;
}

body{
	font-family: 'Quicksand', sans-serif;
}

.logo{
	height: 55px;
	margin-top: 40px;
	margin-left: 100px;
}

#btn-menu{
	display: none;
}

.menu_principal{
	background: none;
	display: flex;
	list-style: none;
	padding-top: 50px;
}

.menu_sub{
	background: none;
	display: flex;
	list-style: none;
}

.menu ul ul{
	display: none;
}

.menu a{
	display: block;
	padding: 10px 25px;
	color: black;
	text-decoration: none;
	font-size: 18px;
}

.menu a:hover{
	background: rgba(207,205,198,100);
}

.menu a span{
	margin-left: 10px;
}

.menu ul li:hover ul{
	display: block;
	position: absolute;
}

.banner_titulo{
	font-size: 60px;
	font-weight: normal;
}

.banner_txt{
	font-size: 25px;
}

.banner{
	background: #F7E9C5;
	justify-content: space-between;
	display: flex;
	height: 700px;
}

.contenedor1{
	width: 480px;
	height: 300px;
	margin-left: 100px;
	margin-top: 80px;
	font-size: 25px;
}

.contenedor1 [class*="icon-"]{
	color: black;
}

.contenedor2{
	display: flex;
	justify-content: space-between;
	background: #F7E9C5;
}

.carrete{
	width: 650px;
	margin-right: 50px;
}

.titulo_eventos{
	color: white;
	padding-top: 40px;
	text-align: center;
	font-size: 40px;
	font-family: 'Lobster', cursive;
}

.titulo_corp{
	color: black;
	padding-top: 40px;
	text-align: center;
	font-size: 40px;
	font-family: 'Lobster', cursive;
}

.contenido_eventos{
	background: #464038;
	height: 800px;
}

.contenido_corp{
	background: #F7E9C5;
	height: 800px;
}
	 
.eventos, .corporativo{	
	display: flex;
	justify-content: center;
}


.info_img{
	display: block;
	max-width: 100%;
	border-radius: 20px;
	margin-top: 40px;
	transform: skewX(-8deg);
}

.corp_img{
	display: block;
	max-width: 100%;
	border-radius: 20px;
	margin-top: 40px;
}

.corp_img:hover{
	transform: translate(-15px, -15px);
	transition: .5s cubic-bezier(.5,.03,.41,1);
	cursor: pointer;
	filter: drop-shadow(5px 5px 10px #444);
}

.info_txt,.corp_txt{
	max-width: 90%;
	font-size: 16px;
}

.info_columna1, .info_columna2, .info_columna3, .info_columna4{
	color: #fff;
	padding: 15px;
	margin-bottom: 30px;
	width: 22%;
}

.info_columna2{
	margin-top: 70px;
}

.info_columna3{
	margin-top: 140px;
}

.info_columna4{
	margin-top: 210px;
}

.corp_columna1, .corp_columna2, .corp_columna3, .corp_columna4{
	color: black;
	padding: 15px;
	margin-bottom: 30px;
	width: 22%;
}

.corp_columna3{
	margin-top: 70px;
}

.corp_columna2{
	margin-top: 140px;
}

.corp_columna1{
	margin-top: 210px;
}


.info_titulo{
	font-size: 32px;
}

.info_img:hover{
	transform: scaleX(-1);
	cursor: pointer;
}

.footer{
	background: #464038;
	display: flex;
	color: white;
	justify-content: space-between;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.footer_txt{
	padding: 20px 30px;
	width: 600px;
}

.social{
	display: flex;
	padding: 20px 40px;
	align-items: center;
	text-decoration: none;
}

.social p{
	margin-top: 10px;
	margin-right: 20px;
}
.social [class*="icon-"],.footer_txt [class*="icon-"] {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.principal{
	display: flex;
	padding: 50px 100px;
	width: auto;
	justify-content: space-between;
	background: #F7E9C5;
}

.titulo_principal{
	font-size: 40px;
	font-family:  'Lobster', cursive;
	text-align: center;
	padding-top: 30px;
	background: #F7E9C5;
	margin-bottom: 0;
}


.texto_principal{
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
	width: 550px;
}

.imagen_principal{
	width: 500px;
	border-radius: 20px;
}

.info_contacto{
	padding: 50px 170px;
	margin-bottom: 30px;
	border-right: 1px solid #DE423A;
	font-size: 18px; 
	font-family: 'Quicksand', sans-serif;
}

.formulario{
	padding: 10px;
	padding-top: 50px;
	padding-right: 200px;
	font-size: 18px; 
	font-family: 'Quicksand', sans-serif;
}

.formulario_label, .formulario_input-txt, .formulario_textarea{
	display: block;
	width: 100%;
}

.formulario_input-txt{
	padding: 10px;
	margin-bottom: 10px;
}


@media(max-width:768px) {
	.header{
		padding-right: 0;
		height: 95px;
		align-items: center;
		background: white;
	}
	header label{
		display: block;
		width: 20px;
		margin-right: 30px;
	}

	.carrete{
		display: none;
	}


	.logo{
		margin-left: 50px;
		margin-top: 10px;
	}

	.menu{
		position: absolute;
		padding-top: 0px;
		top: 95px;
		left: 0px;
		width: 100%;
		transform: translateX(-100%);
		transition: all 0.3s;		
	}

	.menu_principal{
		padding-top: 0px;
	}

	/*.menu_sub, .menu_principal{
		display: block;
		background: #555;
	}*/
	.menu ul{
		display: block;
		background: #555;
	}

	.menu a{
		color: white;
	}

	.menu ul li:hover ul{
		display: none;
		position: static;
	}

	.menu a span {
		position: absolute;
		right: 10px;
	}	

	#btn-menu:checked ~ .menu{
		transform: translateX(0%);
	}

	.menu ul ul{
		background: rgba(0,0,0,0.4);
	}

	.menu ul ul a {
		padding: 15px 40px;
	}
}

@media(max-width:480px){
	.eventos{
		position: absolute;
		text-align: center;
	}

}